@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Serif&display=swap');

.bar {
  font-family: 'PT Serif', serif;
  font-size: 1.5em;
  background-color: #949296;
}

ul {
  list-style: none;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  color: black;
}

a:focus,
a:active {
  text-decoration: underline;
  /*background: grey;
  color: white;*/
}

a:active a:hover {
  font-weight: bold;
}
