.soundFileListContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: stretch;
}

.soundText {
  font-size: 30px;
}

.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
