.container {
  display: flex;
  padding-top: 100px;
  flex-direction: row;
  flex-flow: row;
}

.blogFrame {
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
  justify-content: left;
  width: 800;
  font-size: 35px;
}
