@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Lato:wght@100;400&family=Roboto+Slab&display=swap');

.App {
  /*background-color: #e9eff0;*/
  padding: 10px;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  font-family: 'Roboto Slab', serif;
  /*background-color: #edf0f7;*/
  padding: 10px 20px 10px 20px;
  justify-content: left;
}
